body {
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-image: url("img/ep_naturalwhite.png");
  background-position: top center;
  background-repeat: repeat;
}

header {
  display: flex;
  max-width: 960px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px 10%;
  color: #000000;  
  text-align: center;
  /*outline: 1px solid blue;*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.photo {
  border: 7px solid white;
  /*border-radius: 5px;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  transform: rotate(3deg);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin-right: 16px;
  padding: 10px 30px;
  border-radius: 25px;
  width: 20%;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  background-clip: padding-box;/* обрезает заливку color до border */
  border: none;
  outline: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(0,0,0,.7); /*#663d15;*/
}

.button-2:hover path,
.button-2:focus path,
.button-2:active path{
  fill: blue;
}


.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

* ul{
  list-style: none;
}

.container {
  display: flex;
  max-width: 960px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 10%;
  outline: none;
}

.skills {
  color: grey;
  padding: 10px 10%;
  text-align: center;
}

.skills p {
  font-size: 14px;
}

.skills h4 {
  margin: 15px auto;
}

.skills a {
  position: relative;
  top: 10px;
  left: 10px;
}

.tips {
  position: relative;
  top: -10px;
  text-transform: lowercase;
  font-size: 18px;
  font-style: italic;
}

.container li{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:  center;
}

footer {
  padding: 30px 22%;
  font-size: 14px;
}

footer a{
  position: relative;
  left: 5px;
  top:-20px;
}

/*    делаю tooltips     */

.container li {
  text-transform: none;
  font-size: 18px;
  line-height: 12px;
  font-weight: 700;
  color: #000000;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}

[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after
 {
  visibility: visible;
  opacity: 1;
}
