html{
  /*background-image: url("img/ep_naturalwhite.png");
  background-position: top center;
  background-repeat: repeat;*/
   background-color:  #F5F5F5;
}

body {
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #F5F5F5;

  box-sizing: border-box;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 1, 0.2);
  max-width: 960px;
  min-width: 320px;
}

header {
  display: flex;
  max-width: 960px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px 10%;
  color: #000000;  
  text-align: center;
  /*outline: 1px solid blue;*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.photo {
  border: 7px solid white;
  /*border-radius: 5px;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  transform: rotate(3deg);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin-right: 16px;
  padding: 10px 30px;
  border-radius: 25px;
  width: 15%;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  background-clip: padding-box;/* обрезает заливку color до border */
  border: none;
  outline: none;

  margin-bottom: 20px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(0,0,0,.7); /*#663d15;*/
}

.button-2:hover path,
.button-2:focus path,
.button-2:active path{
  fill: blue;
}


.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

* ul{
  list-style: none;
}

.container {
  display: flex;
  max-width: 960px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 5% 20px 5%;
  outline: none;
}

.skills {
  color: grey;
  padding: 10px 10%;
  text-align: center;
}

.skills p {
  font-size: 14px;
}

.skills h4 {
  margin: 15px auto;
}

.skills a {
  position: relative;
  top: 10px;
  left: 10px;
}

.tips {
  position: relative;
  top: -10px;
  text-transform: lowercase;
  font-size: 18px;
  font-style: italic;
}

.container li{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:  center;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  flex-wrap: wrap;
  font-size: 14px;
  max-width: 960px;
  margin: 0 auto;
  background-color: #607D8B;
}

footer a{
  position: relative;
  left: 5px;
  top:-20px;
  color: #000;
}

footer a:hover,
footer a:active{
  color: #fff;
}

.htmlacademy__logo{
  position: relative;
  top: 3%;
  padding-left: -2%;
}

.htmlacademy__logo:hover path,
.htmlacademy__logo:focus path,
.htmlacademy__logo:active path{
  fill: #fff;
}

/*    делаю tooltips     */

.container li {
  text-transform: none;
  font-size: 18px;
  line-height: 12px;
  font-weight: 700;
  color: #000000;
  outline: none;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;

  text-transform: lowercase;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}

[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after
 {
  visibility: visible;
  opacity: 0.8;
}


/*----------------Key Skills-----------------------*/
.keySkills {
  max-width: 960px;
  margin: 0 auto;
}

.keySkills__wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap:  35px 20px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.keySkills__card{
  min-width: 200px;
  min-height: 200px;
  perspective: 1000px;
}

.keySkills__cardFront, 
.keySkills__cardBack{
 position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
  padding-top: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.keySkills__cardFront{
  background-color: #fff; 
  display: flex;
  flex-direction: column;
}

.keySkills__cardFrontText{
  color: #000;
}

.keySkills__cardBack{
  /*background-color: #BDBDBD;*/
  background-color: #757575;
  transform: rotateY(180deg);
}

.keySkills__cardBackText{
  text-align: center;
  font-size: 20px;
}

.keySkills__card:hover .keySkills__cardFront{
  transform: rotateY(180deg);
}

.keySkills__card:hover .keySkills__cardBack{
  transform: rotateY(360deg);
}

/*--------------portfolio----------------*/

.sites{
  color: grey;
  text-align: center;
}

.sites__wrapper{
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap:  35px 20px;
  max-width: 960px;
  margin: 0 3%;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.sites__header{
  padding-top: 20px;
}

.sites__item{
  position: relative;
  min-width: 360px;
  height: 270px;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.sites__item1{
  background-image: url("img/torty.JPG");
}

.sites__item2{
  background-image: url('img/pink.jpg');
}

.sites__item3{
  background-image: url('img/nerds1.jpg');
}

.sites__item4{
  background-image: url('img/sedona.jpg');
}

.sites__itemRef{
  display: block;
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  text-align: center;
  outline:  1px solid blue;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: #BDBDBD;
}

.sites__itemRef:hover {
 opacity: .7;
}

.sites__itemRef:hover ~.sites__item{
 top: -10px;
}

.sites__itemTxt{
  color: #000;
  padding-top: 34%;
}


