:root {
  --red: #ed1a21;
  --yellow: #fca749;
  --black: #272727;
  --grey: #a6a6a6;
  --violet: #c13f7c;
}
 
html {
  box-sizing: border-box;
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  line-height: 50px;
  font-weight: 400;
  color: var(--black);
  /*text-transform: uppercase;*/

  background-color: rgb(228,230,230);
  background-image: url("../img/school-paper.jpg");
  background-position: top center;
  background-repeat: repeat;
  background-attachment: fixed;

  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;

  width: 964px;
  min-height: 565px;
  margin: 50px auto;
  padding: 0;

  background-color: white;
  border: 2px solid var(--grey);
}

.title-block {
  position: relative;
  top: -60px;

  text-align: center;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}

.task-repeat {
  position: absolute;
  left:200px;
  bottom: 60px;

  min-width: 280px;
  border-radius: 25px;
  outline: none;

  font-size: 36px;
}

.hidden {
  display: none;
}

.button-visible {
  display: block;
  animation: bounce 1s;
}

/* ------ немного анимации ---------*/
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

input {
  outline: none;  
  padding-left: 4px;
  border: 1.5px solid #c8c1c1;
  border-radius: 5px;
}

#inputOne, #inputTwo {
  position: absolute;
  width: 20px;
  height: 28px;
  font-size: 22px;
  line-height: 1.3;
}

#numbers {
  position: relative;
  top: -19px;
  width: 185px;
  text-align: left;
  margin: 0 auto;
}

#slotResult {
  width: 65px;/* 37 */
  height: 48px;/* 29 */
  font-size: 42px;
  font: inherit;
  position: absolute;
  left: 150px;
}

#congrats {
  display: inline-block;
  height: 50px;
  font-size: 22px;
  line-height: 50px;
}

span {
  padding: 0 3.5px;
}

.incorrect {
  background: orange;
  border-radius: 3px;
}

#axis {
  display: inline-block;
  position: relative;
  top: 175px;
  left: 42px;
}

svg {
  position: absolute;
  top: -81px;
  left: 37px;
}

path {
  animation: dash .5s linear forwards;
  fill: none;
  stroke: #c13f7c;
  stroke-width: 3;
  stroke-linejoin: round;
}


